@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />    
<h1>Index Category</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>لیست دسته ها</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"> ایجاد دسته جدید <i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</div>
<br />
<table class="table table-striped table-bordered " style="width:100%;">
    <thead>
        <tr>
            <th>نام دسته</th>
            <th>ترتیب نمایش</th>
            <th>تاریخ ایجاد</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td style="width:50%">@obj.Name</td>
                <td style="width:30%">@obj.DisplayOrder</td>
                <td style="width:20%">@obj.Created_at</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">
                            <i class="bi bi-pencil"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                            <i class="bi bi-trash3"></i>
                        </a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
